header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 246);
    font-size: 48px;
}

button {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

button.blue {
    background-color: #3498db;
}

button.green {
    background-color: #2ecc71;
}

button.orange {
   background-color: orangered;
}

.hidden {
    width: 300px;
    height: 50px;
    border: 1px solid #ff8899;
    display: flex;
    justify-content: center;
    align-items: center;
    display: hidden;
}

.fight {
        width: 300px;
        height: 50px;
        border: 1px solid #ff8899;
        display: flex;
        justify-content: center;
        align-items: center;
}

.start {
    width: 300px;
    height: 50px;
    border: 1px solid #ff8899;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

